<div id="sidebar">
  <div id="aboutme">
    <img src="/assets/images/avatar.png" alt="" weight="200" height="200">
    <div class="title"><a href="{{ site.url }}">aqingsao</a></div>
    <div class="description">
      <p>张晓庆，ThoughtWorks高级咨询师，程序员。关注Java/Rails/NodeJS/Web/自动化/敏捷，<a href="http://how2read.me">http://how2read.me</a>的作者</p>
    </div>
  </div>
  <div class="sidebar-fragment">
    <div class="title">最近文章</div>
    <div class="description">
        <ul id="recent-posts">
          {% for post in site.posts limit: 10%}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
    </div>
  </div>    
  <div class="sidebar-fragment">
    <div class="title">标签</div>
    <div class="description">
      <div id='tag_cloud'>
      {% for tag in site.tags %}
        <a href="/tags.html#{{tag[0]}}" title="{{tag[0]}}" rel="{{tag[1].size}}">{{ tag[0] }}</a>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="sidebar-fragment">
    <div class="title">分类</div>
    <div class="description">
        <ul>
          {% for category in site.categories %}
              <li> <a href="/categories.html#{{category[0]}}">{{category | first}}({{category[1].size }})</a></li>
          {% endfor %}
        </ul>
    </div>
  </div>
  <div class="sidebar-fragment">
    <div class="title">我的项目</div>
    <div class="description">
      <ul>
         <li><a href="https://github.com/aqingsao/MagicCubeOnHtml5">Magic Cube on Html5</a></li>
         <li><a href="https://github.com/aqingsao/jQueryNumberLettersPlugin">jQueryNumberLettersPlugin</a></li>
         <li><a href="https://github.com/aqingsao/TechRadar">Tech Radar</a></li>
         <li><a href="https://github.com/aqingsao/SpaceCraft">Space Craft</a></li>
         <li><a href="https://github.com/aqingsao/how2read">How 2 read me</a></li>
         <li><a href="https://github.com/aqingsao/TractorGame">Tractor Game</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebar-fragment">
    <div class="title">与我联系</div>
    <div class="description">
      <p>新浪微博: <span><a href="http://weibo.com/1566959347/profile">@aqingsao</a></span></p>
      <p>Email: <span>vinci.zhang@gmail.com</span></p>
      <p>Github: <span><a href="https://github.com/aqingsao">https://github.com/aqingsao</a></span></p>
    </div>
  </div>
</div>